<div class="com-sabre-redapp-example3-web-crosswindow-web-module">
    <form>
        <div class="payload-field form-group">
            <label for="{{new-random 'url-field'}}">URL to be opened</label>
            <input type="text" name='url-field' id="{{get-random 'url-field'}}" value="https://redapp-examples.cert.sabre.com/crosswindow/" class="form-control url-field"/>
            <span class="help-block">URL should start with a protocol e.g., http://www.example.com</span>
        </div>
    </form>
</div>